<Style>body {
  margin: 0;
}
header{
  margin-bottom: 50px;
}
#head {
  color: rgb(3, 3, 99);
}

.navbar {
  background-color: #691550;
  margin: 5px;
  border-radius: 20px;
}
.navbar ul{
  overflow: auto;
}
.navbar li {
float: left; 
list-style: none;
margin: 20px 25px;
  
}
.navbar li a{
  padding: 3px 3px;
  text-decoration: none;
  color: whitesmoke;
}
.search{
  float: right;
  color: antiquewhite;
  margin: 8px 10px;
}
.search input{
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  width: 220px;
}
.name {
  color: blueviolet;
}

h1 {
  text-align: center;
  color: darkblue;
}

.contact{
  text-decoration: none;
  background-color: #904caf;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;


}
.paragraph {
  margin: 5px;
  width: 30%;
  padding: 10px;
  float: left;
}

.form {
  border: 2px solid rgb(115, 240, 31);
  width: 50%;
  padding-left: 10px;
}

.ppp {
  border-radius: 10px;
}

.mapimage {
  border: 3px solid red;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h4 {
  text-align: center;
}

.quote {
  text-align: center;
  color: hotpink;
}

.samiha {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.highlight {
  color: orangered;
}

.samiha img {
  width: 100%;
}


section {
  height: 480px;
  padding-bottom: 10px;
}

.top-banner {
  background-image: url("image/header-bg.png");
  background-repeat: no-repeat;
}

#first_name{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#last_name{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=tel],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.quotes{
  height: 220px;
  margin-bottom: 100px;
}
.love-sex{
  box-shadow: 10px 10px 50px rgb(201, 201, 87);
  border-radius: 10px;
  height: 220px;
  padding-left: 30px;
}
#love{
  border-left: 6px solid salmon;
}
#sex{
  border-left: 6px solid rosybrown;
}
#footer{
  text-align: center;
  text-size-adjust: 12px;
}

</Style>