<Style>
body{
  margin: 0;
}
    #head{ 
        color: blue;
         }
    

    h2{
       color: blueviolet;
      }

    h1{
        text-align: center;
        color: darkblue;
      }
 
    .paragraph
    {
         margin:5px ;
        width: 30%;
        padding: 10px;
        float: left;
    }
    .form
    {
        border: 2px solid rgb(115, 240, 31);
        width: 50%;
    }
    .ppp
    {
        border-radius: 10px;
    }
    .mapimage
    {
        border: 3px solid red;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
    }
    
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
h4{
    text-align: center;
}
#quote{
  text-align: center;
  color: hotpink;
}
.samiha{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.highlight{
  color: orangered;
}
.samiha img{
  width: 100%;
}
.mou{
  width: 40%;
  float: right;
  margin-left: 5%;
  padding-left: 2%;
}
.mou img{
  width: 100%;
}
section{
  height: 500px;
}
.top-banner{
  background-image: url("image/header-bg.png");
  background-repeat: no-repeat;
}

</Style>